:root {
    --primary-color: #01A79D;
    --secondary-color: #09164F;
}
body{
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/* MASTER CSS */
p{
    font-family: 15px;
    text-align: justify;
    word-spacing: 2px;
}

h3{
    font-size: 20px;
    color:var(--primary-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Baskervville SC", serif;
}
/* MASTER CSS */

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
/* navbar css start */
/* navbar css end */
/********** Hero section CSS Starts **********/
/* Ensuring the image fills its container */

.hero-sec{
    width: 100%;
    height:80vh;
    object-fit: cover;
}
.hero-img {
    height:80vh;
    background-image: url('images/head_img.jpg');
    background-size: cover;
    background-position: center;
}

/* Form section styles */
.form-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #272262, #01A79D); /* Gradient background */
    color: #fff; /* White text color */
    font-weight: 600;
}
.col-auto button{
    width: 100%;
    font-weight: 600;
}
.form-sec #head_btn{
    background-color: var(--primary-color);
    color: white;
}

.form-sec #head_btn{
    background-color: black;
    color: white;
}
/* CSS used for API for dial code and flag of India in form in body tag of index page in bottom for Form */
.iti {
    width: 100%;
}

.iti__flag-container {
    background-color: #f8f9fa; /* Example background color */
    border-radius: 20px;
   color: white;
}
/* header css end */

/* first_section start */
.first_section{
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_section h1{
    font-family: "Baskervville SC", serif;
    font-weight:500;
    font-style: normal;
}
.first_section p{
    text-align: justify;
}
.first_section button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.first_section button:hover {
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .icon-box {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
    padding: 40px 25px;
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
    background: #fff;
    text-align: center;
}

.courses .icon-box .icon {
    margin-bottom: 20px;
    display: inline-block;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    border-radius: 50%;
    background-color:var(--primary-color);
}

.courses h2,p{
    text-align: center;
}
.courses .icon-box h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    color:var(--primary-color);
}

.courses .icon-box h4 a {
    color: inherit;
    text-decoration: none;
}

.courses .icon-box p {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 0;
}

.courses .icon-box:hover {
    transform: translateY(-10px) scale(1.05);
    background:var(--primary-color);
    color: white;
    transform: 0.5s ease;
}

.courses .icon-box:hover .icon {
    background-color: #ffffff;
    color:var(--primary-color);
}

.courses .icon-box:hover h4,
.courses .icon-box:hover p {
    color: white;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(1, 167, 157, 0.8), rgba(1, 167, 157, 0.8)), url('images/students-in-auditorium.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0;
    color: #fff;
}


.cta h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.cta p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.cta .cta-btn {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: background 0.5s, border-color 0.5s;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.cta .cta-btn:hover {
    background:var(--secondary-color);
    border-color:white;
    color: #fff;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (max-width: 768px) {
    .cta .cta-btn-container {
        margin-top: 20px;
    }
}

/* Bottom Section */
.bottom {
    background: linear-gradient(135deg, #272262, #01A79D); /* Gradient background */;
}
.headline {
    padding: 90px;
    color: #fff;
}
.headline p{
    text-align: left;
}
.bottom-form button{
    background-color:white;
}
.bottom-form button:hover{
    background-color: var(--secondary-color);
    color:white;
}
.bottom-form .back{
    padding: 50px 80px 50px 80px;
    color: #fff;
    font-weight: 600;
    background-color: #01A79D;
}
.copyright {
    flex: auto;
    color: #fff;
    background-color: var(--secondary-color);
    padding-left: 1100px;
}
/* bottom section */


/* fixed button */
.fixed-buttons{
    position: fixed;
    right: -1px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .fixed-buttons img{
    width: 50px;
  }
  